git:
  submodules: false
  quiet: true
  depth: 3
language: python
cache: pip
jobs:
  allow_failures:
    - python: 3.8-dev
  include:
    - stage: "Tests in Linux"
      name: Python 3.8.0 on Xenial Linux
      python: 3.8
    - name: Python 3.8.0 on Bionic Linux
      python: 3.8
      dist: bionic
    - name: Python 3.7.4 on Xenial Linux
      python: 3.7
    - name: Python 3.8 dev on Xenial Linux
      python: 3.8-dev
      script:
        - exit 1
    - stage: "Tests in other platform"
      name: Python 3.7.4 on macOS
      os: osx
      osx_image: xcode11.2
      language: shell
    - name: Python 3.8.0 on Windows
      os: windows
      language: shell
      before_install:
      - choco install python --version 3.8.0
      - python -m pip install --upgrade pip
      env: PATH=/c/Python38:/c/Python38/Scripts:$PATH
    - stage: deploy
      # We will only run the job deploy if and only if the the branch is develop and we push to develop
      # That means when we open a PR, when we have the pull request build that will have target branch develop
      # It will not trigger this job because the type of that job will be target branch develop, but type pull request
      if: (branch = develop) AND (type = push)
      os: linux
      dist: xenial
      python: 3.8
      script:
        - echo "Deploying (for now)"
install:
  - pip3 install --upgrade pip
  - pip3 install -r requirements.txt
script:
  - python3 -m pytest -v || python -m pytest -v

# Update